header {
	border-bottom: 1px solid black;
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar ul {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
nav li {
	list-style: none;
}

.navbar a {
	text-decoration: none;
}
